<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - System Monitor</title>
</head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        System Monitor
                        <ul>
                            <li>@Html.ActionLink("Overview", MVC.SystemMonitor.GroupOverview())</li>
                        </ul>
                    </li>
                
                    <li>
                        Configuration
                        <ul>
                            <li>@Html.ActionLink("Group Editor", MVC.GroupConfiguration.EditGroups())</li>
                            <li>@Html.ActionLink("Agent Configuration", MVC.AgentConfiguration.Index())</li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <h1>@ViewBag.Title</h1>
        </header>

        <section>
            @RenderBody()
        </section>

        <script type="text/javascript" src="@Links.Scripts.libraries.jquery_1_8_1_min_js"></script>
        <script type="text/javascript" src="@Links.Scripts.libraries.jquery_signalR_0_5_3_min_js"></script>
        <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    
        <script type="text/javascript" src="@Links.Scripts.libraries.knockout_2_1_0_js"></script>
        <script type="text/javascript" src="@Links.Scripts.libraries.knockout_mapping_latest_js"></script>
        
        <script type="text/javascript" src="@Url.Content(@Links.Scripts.global_js)"></script>
        <script type="text/javascript" src="@Url.Content(@Links.Scripts.systemmonitor_base_js)"></script>
        <script type="text/javascript" src="@Url.Content(@Links.Scripts.systemmonitor_utilities_js)"></script>

        @RenderSection("CustomScripts")
    </body>
</html>