<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - System Monitor</title>
</head>
    <body>
        <header>
            <h1>@ViewBag.Title</h1>
        </header>

        <section>
            @RenderBody()
        </section>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/jquery.signalR-0.5.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/knockout-2.1.0.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/knockout.mapping-latest.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/global.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/systemmonitor.base.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/systemmonitor.utilities.js")"></script>

        @RenderSection("CustomScripts")
    </body>
</html>