<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - System Monitor</title>
</head>
    <body>
        <header>
            <h1>@ViewBag.Title</h1>
        </header>

        <section>
            @RenderBody()
        </section>

        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/jquery-1.6.4.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/jquery.signalR-0.5.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/knockout-2.1.0.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/libraries/knockout.mapping-latest.js")"></script>

        @RenderSection("CustomScripts")
    </body>
</html>