<!DOCTYPE html>
<html>
	
	<head>
		<meta name="viewport" content="width=device-width" />

		<title>@ViewBag.Title &ndash; System Monitor</title>
		
		<link rel="shortcut icon" href="@Links.Styles.assets.icon_chart_ico" />
		<link rel="icon" type="image/png" href="@Links.Styles.assets.icon_chart_png" />
		
		<link href="@Links.Styles.Combined.global_css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="@Links.Scripts.libraries.jquery_1_8_2_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.modernizr_2_6_2_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.jquery_ui_1_9_0_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.underscore_min_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.underscore_string_min_js"></script>
	</head>

	<body>

		<header>
			<div class="logo" title="System Monitor">
				<a href="@Url.Action(MVC.Charts.AgentGroupOverview())" title="System Monitor"><i class="icon-bar-chart"></i></a>
			</div>

			<h1>@ViewBag.Title</h1>
				
			<nav>
				<ul>
					<li>@Html.ActionLink("Overview", MVC.Charts.AgentGroupOverview())</li>
					<li>
						<label>Configuration:</label>
						<ul>
							<li>@Html.ActionLink("UI Configuration", MVC.UIConfiguration.Editor())</li>
							<li>@Html.ActionLink("Agent Configuration", MVC.AgentConfiguration.Editor())</li>
						</ul>
					</li>	
				</ul>
			</nav>
			
			<section class="subNavigation">
				@RenderSection("SubNavigation", false)
			</section>
		</header>

		@RenderBody()
		
		<footer>
			@RenderSection("FooterContent", false)
			
			<ul class="links">
				<li>
					<a href="https://github.com/andreaskoch/SignalKo-SystemMonitor" target="_blank" title="SignalKo System Monitor at Github"><i class="icon-github"></i>SignalKo SystemMonitor</a>
				</li>
			</ul>
		</footer>

		<script type="text/javascript" src="@Links.Scripts.libraries.jquery_signalR_0_5_3_min_js"></script>
		<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.knockout_2_2_0_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.knockout_mapping_latest_js"></script>
		<script type="text/javascript" src="@Links.Scripts.libraries.knockout_sortable_min_js"></script>
		<script type="text/javascript" src="@Url.Content(@Links.Scripts.global_js)"></script>
		<script type="text/javascript" src="@Url.Content(@Links.Scripts.Systemmonitor_js)"></script>
		<script type="text/javascript" src="@Url.Content(@Links.Scripts.Systemmonitor_Utilities_js)"></script>
		<script type="text/javascript" src="@Url.Content(@Links.Scripts.Systemmonitor_Layout_js)"></script>
		@RenderSection("CustomScripts", false)
	</body>
</html>
